@import url("https://fonts.googleapis.com/css2? family= DM+Sans:wght@700 & family= Syne & display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", "Syne", sans-serif;
}

input,
textarea {
  padding: 12px;
  font-family: "DM Sans", sans-serif;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 4px;
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
  font-weight: bold;
}

/* Navbar */
.navbar {
  padding-left: 3.3%;
  padding-right: 3.3%;
  background-color: #f2f2f2;
  margin-bottom: 20px;
}

.navbar-brand {
  font-size: 28px;
  font-family: "Syne", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}

.nav-link {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  color: #aaa;
}

.nav-link:hover {
  color: #000000;
}
/* Akhir Navbar */

/* section form input */
section {
  padding-left: 4.2%;
  padding-right: 4.2%;
}

.note-input {
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 48px;
  border: 3px solid black;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
}

.note-input input,
.note-input textarea {
  display: block;
  width: 100%;
}

.input-title {
  font-weight: bold;
}

.note-input__title__char-limit {
  font-size: 14px;
  text-align: right;
  color: #aaa;
}

.input-body {
  min-height: 175px;
}

.note-input button {
  display: block;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  border: 1px solid black;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}
/* akhir section form input */

/* Body content */
.app-body {
  padding-left: 4.2%;
  padding-right: 4.2%;
}

.content-title {
  font-family: "Syne", sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.notes-list .empty-message {
  text-align: center;
  color: #aaa;
}

.note-item {
  border: 3px solid black;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.note-content {
  padding: 14px 14px 5px 14px;
  flex: 1;
}

.note-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 22px;
}

.note-date {
  font-size: 15px;
  margin-bottom: 5px;
  color: #aaa;
  text-align: end;
}

.note-body {
  font-size: 15px;
  text-align: justify;
}

.btn-link {
  color: #aaa;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.btn-link:hover {
  color: #666666;
}

.note-action {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.note-item__delete-button,
.note-item__archive-button {
  display: block;
  width: 100%;
  background-color: #f2f2f2;
  border: 0;
  border-top: 1px solid #aaa;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.note-item__delete-button {
  color: #ff5f52;
}

.note-item__delete-button:hover {
  color: #b00020;
}
.note-item__archive-button {
  color: #385af1;
}

.note-item__archive-button:hover {
  color: #0300b0;
}
/* akhir body content */

/* @media only screen and (max-width: 500px) {
  body {
    background-color: #000000;
  }
} */

@media only screen and (max-width: 600px) {
  input::placeholder,
  textarea::placeholder {
    font-size: 13px;
  }

  .note-input button {
    font-size: 14px;
  }

  .navbar-brand,
  .content-title {
    font-size: 20px;
  }

  .nav-link {
    font-size: 13px;
  }

  .note-title {
    font-size: 14px;
  }

  .note-date,
  .note-body {
    font-size: 13px;
  }

  .note-action {
    font-size: 14px;
  }
}

/* @media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
} */
